
body{
    font-family: Arial;
    background-color:#f0f7f0;
}

.container{
    text-align:center;
}

.member h1{
    color:#287a4c;
}

.member h2{
    color:#287a4c;
}

/* menu */

nav{
    background:#dff5e1;
    text-align:center;
    padding:10px;
}

nav a{
    margin:15px;
    text-decoration:none;
    color:#2e8b57;
    font-weight:bold;
}

nav a:hover{
    color:white;
    background-color:#228B22;
    padding:5px 8px;
    border-radius:5px;
}
footer{
    background:#2e8b57;
    color:white;
    text-align:center;
    padding:10px;
    margin-top:100px;
}

.member-card {
  width: 350px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  border-top: 6px solid #2e7d32;
  text-align: center;
}

.member-card h2 {
  margin-bottom: 15px;
  color: #2e7d32;
}

.member-card ul {
  list-style: none;
  padding: 0;
}

.member-card li {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.member-card li:last-child {
  border-bottom: none;
}